<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="black-container">
    <main class="container">
      <div class="jumbotron">
        <!-- Message Area -->
        <% if(messages.length > 0) { %>
            <div class="alert alert-danger">  
                <%= messages %>
            </div>
        <% } %>
        <h1>Please Login</h1>
        <div class="text-center row">
            <form action="" method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
        </div>
      </div>
    </main>
</div>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>